@font-face {
    font-family: namu, "sans-serif";
    font-weight: 500;
    src: url("../fonts/NAMU/NAMU-1850.ttf");
}

* {
    font-family: namu, "sans-serif";
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
}



.is_disabled {
    cursor: not-allowed;
}

.banner {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    background-color: #696DF2;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    filter: blur(2px);

}

.is_blur {
    filter: blur(2px);
}

.banner-text {
    width: 70%;
}

.banner-image {
    width: 30%;
}

.banner-image img{
    width: 100%;
    height: 100%;
}

.block-soon {

}

.banner-text h1 {
    font-size: 20px;
}

.layout {
    min-height: 100vh;
    max-height: 100vh;
}

.right-side {
    max-height: 100vh;
    padding: 35px 35px 0 35px;
}

.left-side {
    max-height: 100vh;
    background-color: #696DF2;
    display: flex;
    align-items: center;
    padding: 0 ;
    position: relative;
}

.search-input {
    width: 300px;
    border-color: #696DF2;
}

.search-input::placeholder {
    font-size: 12px;
}

.nav-icon {
    font-size: 25px;
    color: #696DF2;
}

.g-10 {
    gap: 10px;
}

.align-center {
    align-items: center;
}

.navbar-avatar {
    width: 35px;
    height: 35px;
    border: 1px solid #696DF2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-avatar img {
    border: none;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    fill: #696DF2;
}

.left-side-list {
    width: 100%;
    height: min-content;
}

.left-side-list ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.left-side-list li {
    width: 100%;
    padding: 10px 50px 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    color: #fff;
    transition: .2s;
}

.left-side-link:hover {

}

.soon-1 {
    filter: blur(2px);
}

.soon-2 {
    filter: blur(4px);
}

.soon-3 {
    filter: blur(6px);
}


.left-side-list li:hover {
    cursor: pointer;
    background: linear-gradient(270deg, white 10%, rgba(105, 109, 242, 100%) 90%);
    color: #696DF2 !important;
}

.left-side-list ul .is_active {
    background: linear-gradient(270deg, white 10%, rgba(105, 109, 242, 100%) 90%);
    color: #696DF2;
}

.logout {
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.logout-button {
    background: none;
    border: none;
    color: #F3A713;
    display: flex;
    gap: 10px;
    align-items: center;
}

.scrolling-block {
    overflow-y: scroll;
    max-height: 68%;
    width: 100%;
}

.home-blocks {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.home-block {
    width: 31%;
    border-radius: 10px;
    background-color: #696DF2;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.is_middle {
    width: 65.5%;
}

.home-block img {
    width: 100%;
}

.home-block:after {
    content: "Coming soon";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
}

.modal-block {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.modal-active {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.modal-content {
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

.login {
    width: auto;
    height: 100vh;
    display: flex;
}

.login-left {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-right {
    width: 50%;
    height: 100%;
    background-color: #696DF2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    padding: 10px 20px;
    border: 1px solid #696DF2;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    font-size: 30px;
    color: #696DF2;
}

.login-button:hover {
    background-color: #696DF2;
    color: white;
}

.button-white {
    border: 1px solid #fff;
    color: white;
}

.button-white:hover {
    background-color: white;
    color: #696DF2;
}

.login-back {
    justify-content: center;
    align-items: center;
    background-color: #696DF2;
}

.login-form {
    background-color: white;
    width: 40%;
    height: min-content;
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.people {
    background-color: white;
}

.people-form {
    background-color: #696DF2;
}

.small {
    padding: 0;
    font-size: 20px;
    border-radius: 10px;
}